# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\UNIVERSIDAD\7MO SEMESTRE\Analisis de Algoritmos\proyecto_analisis_algoritmos-main\exampleJPanel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
